@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.links-container {
    display: flex; 
    padding-right: 20px;
}

#login, #signup {
    font-family: 'DynaPuff', cursive !important;
    font-size: 16px !important;
    color: white !important;
}

#login:hover, #signup:hover {
    color: rgb(9, 9, 193) !important;
    opacity: 90% !important;
}

.modal {
    border-radius: 10px;
    font-family: 'DynaPuff', cursive !important;
    display: flex !important;
    flex-direction: column !important;
}

.login-head {
    font-size: 28px !important;
}

.login, .login-head {
    font-family: 'DynaPuff', cursive !important;
    text-align: center;

}

label, input {
    margin: 10px;
}

.username {
    margin-left: -50px;
}