

.songs-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  .songs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:150px;
    height: 150px;
    border: 2px solid rgb(98, 96, 96);
    font-size: 10px;
    font-family: 'DynaPuff', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


  }

.image{
 
  }

  button:hover {
    background-color: black;
    color: white;

  }