a {
    text-decoration: none;
    color: black
}

.albumSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albumResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.albumInfo {
    height: 300px;
    width: 200px ;
    padding: 10px;
}

.albumArtist {
    padding: none;
}

.albumName:hover, .albumArtist:hover {
    color: grey
}