  .artist-container{
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-size: 10px;
    font-family: 'DynaPuff', cursive;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    color: rgb(12, 12, 12);
  }

  img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

a {
    font-size: 13px;
}
  .artist-tag:hover{
    color: black;
    background-color: white;
  }

  /* ========= TABLET ===================== */

@media (min-width: 600px) {
   
    .artist-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .artist-container{
        width: 300px;
        height: 300px;
        margin-left: 40px;
        background-color: black;
        color: white;
        margin-bottom: 10px;
    }

    .artist-image{
        width: 300px;
        height: 250px;
    }
}

  /* =============== MOBILE =================== */
@media (max-width: 600px) {
    h1{
        
    }

    .artist-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .artist-container{
        width: 300px;
        height: 300px;
        margin-left: 40px;
        background-color: black;
        color: white;
        margin-bottom: 10px;
        
    }

    .artist-image{
        width: 300px;
        height: 250px;
    }

}

/* ============= DESKTOP =============== */ 
  @media (min-width: 922px) {
    .artist-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
       
    }

    .artist-container{
        width: 300px;
        height: 300px;
        margin-left: 40px;
        background-color: black;
        color: white;
        margin-bottom: 10px;
    }

    .artist-image{
        width: 300px;
        height: 250px;
    }
  }