
.hamburger-links{
    background-color: rgb(1, 0, 0);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    
}





@media (min-width: 767px) {
    .hamburger-links{
        display: none;
        
    }

    .hamburgerIcon{
        display: none;
    }

   
}

@media (max-width: 600px) {
    .login-modal{
        display: none;
       
    }

    .signup-modal{
      display: none;
    }

  }

