
.hamburger-links{
   
    background-color: rgb(232, 222, 75);
    width: 200px;
    height: 200px;
    
}



@media (min-width: 767px) {
    .hamburger-links{
        display: none;
        
    }

    .hamburgerIcon{
        display: none;
    }

   
}

@media (max-width: 767px) {
    .login-modal{
        display: none;
       
    }

    .signup-modal{
      display: none;
    }

    #login{
      color: rgb(255, 255, 255) !important;
      background-color: ;
  }
  }

