@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.links-container {
    display: flex; 
    padding-right: 20px;
}

#login, #signup {
    font-family: 'DynaPuff', cursive !important;
    font-size: 16px !important;
    color: white ;
}

#login:hover, #signup:hover {
    color: rgb(9, 9, 193) !important;
    opacity: 90% !important;
}

.modal {
    border-radius: 10px;
    font-family: 'DynaPuff', cursive !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: rgb(43, 43, 43) !important;
    color: white;
}

.login-head, .signup-head {
    font-size: 28px !important;
    text-decoration: underline;
}

.login, .login-head, .signup, .signup-head {
    font-family: 'DynaPuff', cursive !important;
    text-align: center;

}

.login-form,.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}



/* .username {
    margin-left: -50px;
} */

.submit {
    font-family: 'DynaPuff', cursive !important;
    font-size: 16px !important;
    color: black !important;
    width: 100px;
}