.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    color: white;
    background-color: black;
    font-family: 'DynaPuff', cursive;
  }
  
  img {
    width: 150px;
    height: 100px;
  
  }
  
  h1 {
    flex-grow:1;
    margin-left: 15px;
  }
  
  a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
  } 

  .hamburger{
    position: absolute;
    right: 0;
    top: 100px;
    /* height: calc(100vh - 100px); */
    

  }

  @media (max-width: 600px) {
    
  }
  
 

 

