.navbar {
  display: flex;
  align-items: center;
  height: 100px;
  border: 2px solid black;
  color: white;
  background-color: black;
  font-family: 'DynaPuff', cursive;
}

img {
  width: 150px;
  height: 100px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  /* flex-grow:1; */
  font-size: 40px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
} 





