@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.App {
  text-align: center;
}

body{
  font-family: 'DynaPuff', cursive;
}

.search {
  display: flex;
  justify-content: center;

}
.search-bar {
  /* border: 1px solid grey; */
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-container {
  width: 100px;
}

#musicSearch{
  width: 400px;
  height: 34px;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #7e7c7c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  height: 38px;
  background: #ffffff;
  border: 1px solid rgb(26, 25, 25);
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}



/* === TRENDING NOW STYLING === */


.trending-now {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'DynaPuff', cursive;
}

h1{
  text-align: center;
  font-family: 'DynaPuff', cursive;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-tracks{
  /* border: 2px solid rgb(38, 0, 255); */
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.trending-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.indiv-container-tracks{
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  color: rgb(255, 255, 255);
  transition: all .2s ease-in-out;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
.indiv-container-tracks:hover {
  transform: scale(1.1); 
  box-shadow: rgba(216, 208, 47, 0.482) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tracks-button{
  font-size: 10px;
  padding: 5px;
  
}
.indiv-container-artist {
  margin-left: 20px;
  font-size: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  transition: all .2s ease-in-out;
  
}

.indiv-container-artist:hover{
  box-shadow: rgba(7, 14, 154, 0.482) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.1);
}

.top-artist{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.artist-info{
  display: flex;
  flex-direction: column;

}

.indiv-container-tags{
  text-align: center;
  margin-left: 20px;
  color: rgb(247, 241, 241);
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: all .2s ease-in-out;
  margin-bottom: 20px;
}
.indiv-container-tags:hover{
  transform: scale(1.1);
  box-shadow: rgba(90, 7, 154, 0.482) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.top-tags{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.linkTag{
  color: #ffffff;
  transition: color .3s ease-in-out;
}

.linkTag:hover {
  text-decoration: underline;
}

.css-319lph-ValueContainer, .css-319lph-ValueContainer{
  font-size: 13px;
}


/* ========= TABLET ===================== */

@media (max-width: 768px) {

  .top-tracks{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

  }

  .top-artist{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .top-tags{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .indiv-container-tracks{
    height: 250px;
    width: 250px;
    font-size: 10px;
  }

  .indiv-container-artist{
    height: 200px;
    width: 200px;
    font-size: 10px;
  }
  .indiv-container-tags{
    height: 200px;
    width: 200px;
    font-size: 10px;
  }
 
}


/* =============== MOBILE =================== */
@media (max-width: 600px) {
  h1{
    text-align: left;
  }
  .indiv-container-tracks{
    width: 300px;
    height: 250px;
    margin-left: 40px;
    font-size: 15px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .indiv-container-artist{
    height: 300px;
    width: 300px;
    font-size: 18px;
  }
  .indiv-container-tags{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    margin-left: 40px;
  }

  .top-container{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    place-items: center;
    
  }
  .css-319lph-ValueContainer, .css-319lph-ValueContainer{
    font-size: 12px;
  }

  .top-artist{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    text-align: right;
    place-items: center;
    
  }

  .top-tags{

      display:grid;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr;
      
    }

    #musicSearch{
      width: 100px;
    }

    .search{
      place-items: center;
    }
}

