@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.App {
  text-align: center;
}



.search {
  display: flex;
  justify-content: center;

}
.search-bar {
  /* border: 1px solid grey; */
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

 
}



.select-container {
  width: 100px;
  
  
}
.css-1s2u09g-control {
  
}

#musicSearch{
  width: 400px;
  height: 34px;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #7e7c7c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=text]:focus {
 
}
input[type=submit] {
  height: 38px;
  background: #ffffff;
  border: 1px solid rgb(26, 25, 25);
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}




@media only screen and (max-device-width: 667px) {
  
}


/* === TRENDING NOW STYLING === */


.trending-now {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  font-family: 'DynaPuff', cursive;
}

.top-tracks{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  /* border: 3px solid blue; */
  gap: 10px;
}

.trending-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
 
}

.indiv-container-tracks{
  /* border: 3px solid green; */
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  transition: all .2s ease-in-out;
  border-radius: 8px;
}
.indiv-container-tracks:hover {
  transform: scale(1.1); 
}
.indiv-container-artist {
  margin-left: 20px;
  /* border: 2px solid rgb(255, 0, 251); */
  /* width: 300px;
  height: 250px; */
  font-size: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  
}

.indiv-container-artist:hover{
  box-shadow: rgba(143, 93, 181, 0.25) 0px 6px 12px -2px, rgba(146, 93, 198, 0.3) 0px 3px 7px -3px;
}
.top-tags{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.top-artist{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.artist-info{
  display: flex;
  flex-direction: column;

}

.indiv-container-tags{
  margin-left: 20px;
  color: rgb(247, 241, 241);
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.linkTag{
  color: #54b3d6;
  transition: color .3s ease-in-out;
}

.linkTag:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
  text-decoration: underline;
}