.songs-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    
  }
  .songs-container{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-size: 10px;
    font-family: 'DynaPuff', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    color: white;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  button {
    background-color: white;
    font-family: 'DynaPuff', cursive;
    border:1px solid rgb(15, 15, 15);
    padding: 3px;
    border-radius: 3px;
  }

  button:hover {
    background-color: black;
    color: white;

  }

   /* ========= TABLET ===================== */

@media (min-width: 600px) {
   
  .songs-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .songs-container{
      width: 300px;
      height: 300px;
      margin-left: 40px;
      background-color: black;
      color: white;
      margin-bottom: 10px;
  }

}

/* =============== MOBILE =================== */
@media (max-width: 600px) {
  h1{
      
  }

  .songs-grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }

  .songs-container{
      width: 300px;
      height: 300px;
      margin-left: 40px;
      background-color: black;
      color: white;
      margin-bottom: 10px;
      
  }

}

/* ============= DESKTOP =============== */ 
@media (min-width: 922px) {
  .songs-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      place-items: center;
      place-items:center;
    width: 1160px;
    margin: 0 auto;
     
  }

  .songs-container{
      width: 300px;
      height: 300px;
      margin-left: 40px;
      background-color: black;
      color: white;
      margin-bottom: 10px;
  }
}

